<a href="https://colab.research.google.com/github/lauramendescd/Projeto_IntegradorI/blob/main/Projeto_Integrador.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJETO INTEGRADOR I DE CIÊNCIA DE DADOS 


### UNIVERSIDADE FEDERAL DO CEARÁ

Laura L. Mendes


*   O interesse em finanças e gestão de empresas foi característica intrínseca para escolha da área de atuação como Cientista de Dados e, também, como temática a ser abordada dentro do Projeto Integrador I
*   O conjunto de dados ***'Finanças da Apple'*** abrange o desempenho financeiro da empresa na última década e, através deste recurso, é possível realizar ***análises históricas, têndencias futuras e estraatégias de gestão.***



*   A partir deste conjunto de dados foi formulada a seguinte hipótese:

  **H: Investir em ações AAPL34 , nas próximas décadas, considerando os riscos e desempenhos anteriores, possibilita um bom retorno de dividendos? Esse tipo de inestimento abrange todos os tipos de investidores?**

*   Fazer a ánalise desses dados e avaliar a hipótese acima, amplia a visão do mercado de ações, permite a avaliação da taxa de crescimento da Apple e a influência do pagamento de dividendos na economia global.

In [ ]:
import pandas as pd

# VARIÁVEIS DO BANCO DE DADOS
### O Banco de Dados ***'Finanças da Apple'*** conta com variáveis discretas e quantitativas que facilitam a análise dos dados.

In [ ]:
data = pd.read_csv('apple_income_statement.csv')
data.head(6)

,Unnamed: 0,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Cash,0,0,0,0,0,0,0,0,0,0
1,Cash & Equivalents,5490,6081,7341,6460,7168,8261,7857,8284,9352,9254
2,Short Term Investments,29,14,0,0,0,0,1,0,0,0
3,Cash and Short Term Investments,5519,6095,7341,6460,7168,8261,7858,8284,9352,9254
4,"Accounts Receivable - Trade, Net",8831,8326,7699,6677,5919,7376,8767,8484,7317,8477
5,"Total Receivables, Net",8831,17089,16726,15668,14441,16133,17417,17820,16780,17375